.card
{
    width: 175px;
}

.statusBadgeSoldOut
{
    position: absolute;
    width: auto;
    border-radius: 10px;
    padding: 2px 5px;
    margin: 5px 10px;
    background-color: #c3404018;
    color: #312e2e;
}

/* .cardData
{
    position: relative;
} */

.image
{
    width: 176px;
    height: 235px;
    border-radius: 10px;
}

.ratingWrapper
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: #918E9B;
    font-size: 12px;
}

.rating
{
    color: #222222;
}

.title
{
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #222222;
}

.costWrapper
{
    display: flex;
    justify-content: start;
    color:  #222222;;
    font-size: 14px;
    line-height: 14px;
}

.cost
{
    font-weight: bold;
}
